<h1>Pages#projects</h1>
<p>Find me in app/views/pages/projects.html.erb</p>

<div class="row mb-5 mx-auto">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <%# <img src="..." class="card-img-top" alt="..."> %>
        <%= image_tag 'cuppon.png', class:"card-img-top" %>
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Proyecto Cuppon</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-light" data-toggle="tooltip" data-placement="bottom" title="Presiona para Ver Mas.." >Ver Mas... </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <%# <img src="..." class="card-img-top" alt="..."> %>
        <%= image_tag 'Ricomida.png', class:"card-img-top" %>
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Proyecto Ricomida</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-light"  data-toggle="tooltip" data-placement="bottom" title="Presiona para Ver Mas.." >Ver Mas... </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <%# <img src="..." class="card-img-top" alt="..."> %>
        <%= image_tag 'ViajesChile.png', class:"card-img-top" %>
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Proyecto Viajes Chile</h5>
                <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-light"  data-toggle="tooltip" data-placement="bottom" title="Presiona para Ver Mas.." >Ver Mas... </a>
            </div>
        </div>
    </div>
</div>
